<a href="https://colab.research.google.com/github/spctr01/Machine-learning/blob/master/heart_disease(RandomForest).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# RandomForest to predict heart disease

1. Getting data ready
2. choosing the algorithm(random forest)
3. fit the model (pass the data to model)
4. Evaluate
5. improve the model

In [10]:
# 1. Getting data ready
import pandas as pd
data = pd.read_csv('heart-disease.csv')
data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [6]:
#columns (features) age -  thal as input and target= label
x = data.drop('target', axis= 1)
y = data['target']

x.head()

   age  sex  cp  trestbps  chol  fbs  ...  thalach  exang  oldpeak  slope  ca  thal
0   63    1   3       145   233    1  ...      150      0      2.3      0   0     1
1   37    1   2       130   250    0  ...      187      0      3.5      0   0     2
2   41    0   1       130   204    0  ...      172      0      1.4      2   0     2
3   56    1   1       120   236    0  ...      178      0      0.8      2   0     2
4   57    0   0       120   354    0  ...      163      1      0.6      2   0     2

[5 rows x 13 columns]

In [7]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [30]:
#Splitting data to test and train
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2)
print('tarin{}..test{}'.format(len(x_train), len(x_test)))

tarin242..test61

In [33]:
#2. Choosing model using RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

#showing hyperparameters of the model
model           # another method get_params()   model.get_params()

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [36]:
#3. fit (train) the model

model.fit(x_train, y_train)

# making predictions on test dataset
pred = model.predict(x_test)
pred

array([0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0])

In [50]:

#4. Evaluate
print('training:',model.score(x_train, y_train))
print('testing:',model.score(x_test, y_test))

training: 1.0
testing: 0.7704918032786885

In [48]:
#Evaluation

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, pred))
print(confusion_matrix(y_test, pred))
accuracy_score(y_test, pred)

              precision    recall  f1-score   support

           0       0.83      0.67      0.74        30
           1       0.73      0.87      0.79        31

    accuracy                           0.77        61
   macro avg       0.78      0.77      0.77        61
weighted avg       0.78      0.77      0.77        61

[[20 10]
 [ 4 27]]

0.7704918032786885

In [59]:
# 5. imporving the model
# changing hyperparametrs of the model to see the changes in acc.
# in this case randomly changing n_estimators which is 100 by default
#with the estiamtor 30 we get 83% acc which can be choosen

import numpy as np

np.random.seed(99)
for x in range(10,100, 10):
  model = RandomForestClassifier(n_estimators= x)
  model.fit(x_train, y_train)
  print('Accuracy{} \n n_estimator{}'. format(model.score(x_test, y_test), x))

Accuracy0.7540983606557377
 n_estimator10
Accuracy0.7868852459016393
 n_estimator20
Accuracy0.819672131147541
 n_estimator30
Accuracy0.8360655737704918
 n_estimator40
Accuracy0.7704918032786885
 n_estimator50
Accuracy0.7868852459016393
 n_estimator60
Accuracy0.7704918032786885
 n_estimator70
Accuracy0.7868852459016393
 n_estimator80
Accuracy0.7704918032786885
 n_estimator90